<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<!-- listeners tag for report generation -->

<parameter name="Url" value="https://iamneo.ai/"/>


  <test thread-count="5" name="Fox" parallel="classes">
  
  <classes>
  <class name="com.qa.testScripts.TC_Neo_001"/>
  </classes>
  </test> <!-- Test -->
  
  <!--  <test thread-count="5" name="EdgeTest" parallel="classes">
  <parameter name="Browser" value="Edge"/>
  <classes>
  <class name="com.qa.testscripts.TC_AmazonSearch_001"/>
  </classes>
  </test>

  <test thread-count="5" name="FirefoxTest" parallel="classes">
  <parameter name="Browser" value="Firefox"/>
  <classes>
  <class name="com.qa.testscripts.TC_AmazonSearch_001"/>
  </classes>
  </test>-->
  
</suite> <!-- Suite -->